.timer {
    font-size: 18px;
    font-weight: bold;
    color: #ed5a72;
    background-color: #fadbe3;
    padding: 10px 15px;
    border: 2px solid #ed5a72;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    width: fit-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
